In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.neighbors import NearestNeighbors

import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('data/mobile_game_inapp_purchases.csv')

In [4]:
df.fillna(df.median(numeric_only=True), inplace=True)
categorical_cols_with_na = df.select_dtypes(include='object').columns
for col in categorical_cols_with_na:
    df[col].fillna('Unknown', inplace=True)

In [6]:
df['LastPurchaseDate'] = pd.to_datetime(df['LastPurchaseDate'], errors='coerce')
df['Age'] = df['Age'].astype('int64')
df['SessionCount'] = df['SessionCount'].astype('int64')
df['FirstPurchaseDaysAfterInstall'] = df['FirstPurchaseDaysAfterInstall'].astype('int64')
df['LastPurchaseYear'] = df['LastPurchaseDate'].dt.year.fillna(df['LastPurchaseDate'].dt.year.median()).astype('int64')
df['LastPurchaseMonth'] = df['LastPurchaseDate'].dt.month.fillna(df['LastPurchaseDate'].dt.month.median()).astype('int64')
df['LastPurchaseDayOfWeek'] = df['LastPurchaseDate'].dt.dayofweek.fillna(df['LastPurchaseDate'].dt.dayofweek.median()).astype('int64')

In [7]:
df.head()

,UserID,Age,Gender,Country,Device,GameGenre,SessionCount,AverageSessionLength,SpendingSegment,InAppPurchaseAmount,FirstPurchaseDaysAfterInstall,PaymentMethod,LastPurchaseDate,LastPurchaseYear,LastPurchaseMonth,LastPurchaseDayOfWeek
0,c9889ab0-9cfc-4a75-acd9-5eab1df0015c,49,Male,Norway,Android,Battle Royale,9,12.83,Minnow,11.40,28,Apple Pay,2025-03-19,2025,3,2
1,7c9e413c-ecca-45f2-a780-2826a07952a2,15,Male,Switzerland,iOS,Action RPG,11,19.39,Minnow,6.37,18,Debit Card,2025-06-08,2025,6,6
2,fd61e419-1a92-4f43-a8c7-135842ad328a,23,Male,China,Android,Fighting,9,8.87,Minnow,15.81,30,Apple Pay,2025-06-02,2025,6,0
3,bdb7f6d1-ff9a-468c-afe7-43f32a94293e,31,Male,Mexico,Android,Racing,12,19.56,Minnow,13.49,9,Debit Card,2025-04-01,2025,4,1
4,aa7eec14-4846-47b9-b879-9c98038cda04,37,Female,India,Android,Battle Royale,10,15.23,Minnow,10.86,15,Paypal,2025-05-05,2025,5,0